body {
    background: #ff1245;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

div {
    background: #ababab;
    border: 5px solid black;
    font-size: 21px;
}