* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/** CLASS */
body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 40px 5%;
    min-height: 100vh;
}

/** ID */
.kapVitrin {
    border: 5px solid salmon;
    display: flex;
    flex: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.kapSepet {
    border: 5px solid salmon;
    display: flex;
    flex: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}