* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/** CLASS */
.kap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 40px;
    min-height: 100vh;
}




/** ID */

#vitrin {
    border: 5px solid salmon;
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
};

#sepet {
    border: 5px solid salmon;
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
};