.container {
  padding: 25px 25px;
  margin: 0 auto;
  width: 800px;
  background: #dedede;
  display: flex;
}

.form-container {
  margin-right: 50px;
}

.table-container table tr {
  height: 50px;
}

.table-container table td {
  width: 200px;
}

.table-container table thead th {
  text-align: left;
}