body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.allIncluded {
    display: flex;
}

.productsList {
    border: 3px solid #ab0003;
    width: 50%;
}

.allOrders {
    border: 3px solid #ab0003;
    width: 50%;
}